.auth-page{
    min-height: 100vh;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
    position: relative;

    .catcha{
        margin:  auto;
        transform: scale(.8);
        width: 54rem;
        display: flex;
        max-width: 90%;
        justify-content: center;
    }

    .swap{
        margin-top: 2rem;
        font-size: 1.2rem;

        a{
            color: #5157E7 ;
            margin-left: .25rem;
        }

    }

    .auth-button{
        margin-top: 1.8rem;

        &--resend{
            margin-left: 1rem;
        }
    }

    .error{
        font-size: 1.25rem;
        color: orangered;
    }

    h1{
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .background{
        position: absolute;
 top: 0;
 left: 0;
 right: 0;
bottom: 0;
  z-index: -1;

    }
}

.login{

    .input{
        margin: 2rem auto;
    }

    .forgot{
        text-align: right;
        width: 44rem;
        margin: auto;
        max-width: 90%;    
        font-weight: 500;
font-size: 1.25rem;

@media (max-width:580px) {
    text-align: left;
}



span{
    cursor: pointer;
}
    }
}

.register{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    h2{
        margin-bottom: 2rem;
    }

    .input{
        // width: 38rem;
        margin: 1rem 0;
    }
}

.forgot{
    overflow: hidden;

    h2{
        font-size: 3rem;
        margin-top: 3rem;
    }

    .error{
        margin-bottom: -1rem;
        margin-top: 2rem;

    }

    
}

.verify-mail{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 3rem;
        margin-bottom: 2rem;
margin-top: -1rem;    
}

    .background{
        position: absolute;
 top: 0;
 left: 0;
 right: 0;
bottom: 0;
  z-index: -1;

    }
    
    .btn{
        display: flex;
        align-items: center;
    }


}