html {
    scroll-behavior: smooth;
  }
  
  :root {

    @media (max-width: 75em) {
        //1200px
        font-size: 14px;
      }
  

    @media (max-width: 56.25em) {
        //900px
        font-size: 12px;
          }

          @media (max-width: 47.5em) {
            //760px
            font-size: 10px;
          }
  

          @media (min-width: 131.25em) {
            //2100px
            font-size: 18px;
          }
  

  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #757575;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ebf7fd;
  }
  
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  div,aside,main,section,input,textarea,button{
    font-family: $font-family, sans-serif, serif;

}
  
  body {
    background-color: $body-bg;
    color: $text-color;
    overflow-x: hidden;
  }
  
  a {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  
  ul {
    list-style: none;
  }
  
  textarea {
    resize: none;
  }
  
  input,
  textarea {
    border: none;
    &:focus {
      outline: none;
    }
  }
  
  button {
    border: none;
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  }

  .confirm{
    font-family: $font-family, sans-serif, serif;
    height: max-content;
    width: 30%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    border-radius: 8px;
    padding:1rem;
    outline: none;
    animation: open .4s ease;

    box-shadow: 2px 4px 65px -50px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 4px 65px -50px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 65px -50px rgba(0,0,0,1);

    h1{
      @media(max-width:1000px){
        font-size: 1.5rem;
    
        }
    }

    @media(max-width:1000px){
    width: 40%;

    }

    @media(max-width:565px){
      width: 65%;
  
      }

      @media(max-width:420px){
        width: 72%;
    
        }

        @media(max-width:380px){
          width: 78%;
      
          }

          @media(max-width:350px){
            width: 83%;
        
            }

    p{
        color:#555;
  
          @media(max-width:1000px){
            font-size: 1.5rem;
        
            }
        
    }

    button{
        margin-top: 1rem;
        width: 4rem;
        height: 2rem;
        background-color:#fefefe;
        color:#212121 ;
        border-radius: 5px;
        margin-right: 1rem;
        font-weight: bold;
    }

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe88;
}

.error-boundary{
    
}

.hud{
  z-index: 500;
  .logout{
    position: absolute;
    bottom: 2rem;
    right: 2rem ; 
    cursor: pointer;

    i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
    }
}

.icon{
  position: absolute;
  top: 2rem;
  right: 2rem ; 
  cursor: pointer;

  .logo{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }

  &--1{
      right: 6rem;
  }
}
}