@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

$body-bg: #fefefe;
$text-color: #212121;
$font-family: "Coda";
$font-family2: "Catamaran";
