
.dropdown-div{
    position: relative;
    min-width: 17rem;
    // background-color: red;
}


.dropdown-top{
    position: relative;
    min-width: 17rem;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 0.5rem;
    transition: 0.4s box-shadow;
    cursor: pointer;
    color: #fefefe;
    border-bottom: 1px solid #686868;




    i{
        font-size: 1.5rem;
    }

  
    .arrow {
      transform: translateY(0.2rem);
      transition: 0.4s all;
      transform:  translateY(-0.13rem);
      width: max-content;
      font-size: 2rem;
      color: #686868;
    }
  
    h4 {
      font-size: 1.2rem;
      margin-left: 0.5rem;

      @media (max-device-width: 800px) {
      font-size: 1.5rem;
      margin-left: 0.75rem;   
      }
    }

    &--open{
        box-shadow: 0 0 8px #21212144;
        border-bottom:1px solid #ddd ;
        border-bottom: 0;


        .arrow{
            transform: rotate(180deg) translateY(0);
        }
            }
}

.dropdown-list{
  transition: 0.4s all;
  min-width: 17rem;
  width: max-content;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);

  background-image: linear-gradient(215deg, #000000 0%, #414141 180%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
  color: #fefefe;



  z-index: 500;
  .option {
    padding: 0.1rem;
    cursor: pointer;
    font-size: 1.2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    transition: 0.1s all;
    display: flex;
align-items: center;

@media (max-device-width: 800px) {
  font-size: 1.5rem;
  margin-left: 0.5rem;   
  padding-top: .75rem;
  padding-bottom: .75rem;
  }


    i{
      width: 1.5rem;
      font-size: .8rem;
      margin-left: 1rem;
    }

    &:hover {
      background-color: #222;
    }

    &--locked{
display: flex;
padding-left: 1rem;
font-size: center;
align-items: center;
cursor: default;

&:hover {
  background-color: #ff450055;
}

i{
  width: 1.5rem;
  font-size: .8rem;
  color: #ff4500;

}

    }

    &--completed{
      display: flex;
padding-left: 1rem;
font-size: center;
align-items: center;
cursor: default;

&:hover {
  background-color: #a7d12955;
}

      i{
        width: 1.5rem;
        font-size: .8rem;
        color: #a7d129;
      
      }
      
    }


  }


  &--open{
    box-shadow: 0 0 8px #21212144;

        }
}
