.home{
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(1, 3, 4, 0.9) 0%, #070707 100%);
    overflow: hidden;
    position: relative;


    .react-select{
        width: 100%;
    }

   


    #map{
    min-height: 100vh;
    height: 100%;
    }

   

    main{
        min-height: 25rem;
        width: 20rem;
        position: absolute;
        background-image: linear-gradient(135deg, #000000 0%, #414141 180%);
margin: 15rem 8rem;
display: flex;
padding: 2rem;
flex-direction: column;
// justify-content: ;
align-items: center;
z-index: 25;

@media (max-width:1300px) {
    
margin: 18rem 8rem;
}




.primary-btn{
        margin-top: auto;
}

p{
    color: #fff;
    font-size: 1rem;
    margin: 2rem 0;


}
    }

    .hawk{
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 25;
    }

    h1,h2{
        color: #fff;
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 4rem;
        z-index: 25;
    }

    h2{
        top: 12rem;
        font-size: 2.25rem;
        letter-spacing: 3px;

    }

    &--phone{

        .hawk{
            top: 4rem;
            left: 5rem;
            position: absolute;
            width: 6rem;


            @media (max-width:440px) {
            width: 4rem;
            top: 5rem;

                

               }
        }

        .main{
            min-height: 50vh;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 ;
            margin: 0;

            h1,h2{
                margin-top: -3rem;
            }

            h1{
                font-size: 3rem;
                @media (max-width:800px) {
                    font-size: 2rem;  
                   margin-top: -2rem;
   
                   }

                @media (max-width:600px) {
                 font-size: 2.5rem;  
                margin-top: -2rem;

                }

                @media (max-width:500px) {
                    font-size: 2rem ;  
                   margin-top: -2rem;
   
                   }
            }

            h2{
                @media (max-width:600px) {
                 font-size: 2rem;  

                }

                @media (max-width:440px) {
                    font-size: 1.5rem;  
                   margin-top: -4rem;
   
                   }

                   @media (max-width:360px) {
                    font-size: 1.25rem;  
                    margin-top: -4rem;
        
                        
        
                       }
            }


            aside{
                height: 22rem;
                width: 26rem;
                max-width: 90%;
                background-image: linear-gradient(135deg, #000000 0%, #414141 180%);
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        z-index: 25;
        margin-top: 20rem;


 



.primary-btn{
    margin-top: auto;
}

p{
color: #fff;
font-size: 1rem;
margin: 1.25rem 0;



}
            }
        }

        
        #map{
            min-height: 100vh;
            // height: 50%;
            position: absolute;
            
            top: 14rem;
            left: 0;
            right: 0;
            bottom: 0;

            @media (max-width:440px) {
            top: 12rem;
                
            }
          }
        
    }
}

// .map-marker{
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

.home-detail{
    margin-top: auto;
}

.home-locked{
    color: #ff4500;
}

.home-completed{
    color: #a7d129;
}