.landing{
    background-color: #141414;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-color: #000;

    video{
        position: absolute;
        height: 100vh;
        // transform: scale(2);
    }


    .hawk{
        width: 22rem;
        max-width: 90%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hawk-name{
        color: #5157E7;
    }

    h1{
        color: #ddd;
        font-size: 4rem;
        z-index: 50;
        transform: translateY(12rem);

        @media (max-width:460px) {
            font-size: 3rem;
        }

        @media (max-width:360px) {
            font-size: 2.5rem;
        }
                z-index: 2;

    }

    .buttons{
        margin-top: 2rem;
    }


    .primary-btn{
      background-color: red;
    }
}