.nest-illegal{
    background-color: #141414;
    height: 100vh;
    img{
        width: 25rem;
        max-width: 90%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: #ddd;
        font-size: 3rem;

     
    }
}

.nest-welcome{
    background-color: #000;
    height: 100vh;
    img{
        width: 22rem;
        max-width: 90%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    video{
        position: absolute;
        height: 100vh;
    }


    .hawk-name{
        color: #5157E7;
    }

    h1{
        color: #ddd;
        font-size: 3rem;
        z-index: 50;
        transform: translateY(12rem);

        @media (max-width:460px) {
            font-size: 2.7rem;
                
            }
        @media (max-width:380px) {
            font-size: 2.3rem;
        }

      
    }

}


.nest{

}