.not-found{
    background-color: #141414;
    height: 100vh;
    img{
        width: 22rem;
        max-width: 90%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hawk-name{
        color: #5157E7;
    }

    h1{
        color: #ddd;
        font-size: 3rem;
        @media (max-width:460px) {
            font-size: 2.7rem;
                
            }
        @media (max-width:380px) {
            font-size: 2.3rem;
        }
    }

    &--nest{

        img{
            width: 22rem;
            max-width: 80%;
        }
        h1{
            @media (max-width:460px) {
                font-size: 2rem;
            }
        }
    }

 

}