.question{
    min-height: 100vh;
    color: #fff;
    text-align: center;
    padding: 3rem 2rem;

    .background{
        position: absolute;
 top: 0;
 left: 0;
 right: 0;
bottom: 0;
  z-index: -1;

    }
    h1{
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .hints{


background-color: #000000;
background-image: linear-gradient(135deg, #000000 0%, #414141 180%);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);



        width: 24.4rem;
height: 24.4rem;
padding: 2rem;
display: flex;
flex-direction: column;

.hint-locked{
    background-color: #212121;
    height: 3.25rem;
color: #ddd;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);

}


h4{
    color: #5C63FF;
    font-size: 2rem;
    text-align: center;


}

section{
flex: 1;
padding: .5rem;
display: flex;
flex-direction: column;
justify-content: space-around;
}
    }
}