.question-page {
  min-height: 100vh;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  user-select: none;
  h1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }
  .back-button{
    float: left;
    cursor: pointer;
  }
  .pin-icon{
    float: right;
    color: #5c63ff;
  }

  .region-display{
    width: 15rem;
    margin: 1rem 0 1rem 3rem;
    border-bottom: 1px solid white;
    span{
      font-size: 1.5rem;
      padding: 2px 4px;
    }
  }

  p {
    margin: 1.7rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 30px;
     text-align: left;
    color: rgba(255, 255, 255, 0.83);
  }

  .headers {
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 34px;
    color: #5c63ff;
    text-align: center;
  }
  .three-containers {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    width: 100vw;
  }

  .con-1 {
    
    p{
      text-align: center;
    }
    .locks {
      padding: 0.5rem 0;
      background-color: #161616;
    }
    .hints {
      height: 70%;
       overflow: auto
    }
    /* position: absolute; */
    width: 26rem;
    height: 26rem;
    margin: auto;

    /* white */
    background: linear-gradient(
      112.11deg,
      rgba(255, 255, 255, 0.09) 12.41%,
      rgba(255, 255, 255, 0.05) 84.54%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(26px);
  }

  .con-3 {
    /* position: absolute; */
    width: 26rem;
    height: 26rem;
    margin: auto;

    .headers {
      font-size: 1.5rem;
      cursor: pointer;

      &::after{
        content: "";

      }
    }

    /* white */
    background: linear-gradient(
      112.11deg,
      rgba(255, 255, 255, 0.09) 12.41%,
      rgba(255, 255, 255, 0.05) 84.54%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(26px);
    p{
      
      text-align: center;
      span{
        color : white;
        cursor: pointer;
        /*text-decoration: underline ;
        text-underline-offset: 2px ;*/
      }
    }
    div {
      height: 70%;
      overflow: auto;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none; 
      
    }
  }

  

  .con-2 {
    p{
      text-align: center;
    }
     position: relative; 
    width: 32rem;
    height: 32rem;

    /* white */
    background: linear-gradient(
      112.11deg,
      rgba(255, 255, 255, 0.09) 12.41%,
      rgba(255, 255, 255, 0.05) 84.54%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(26px);
    
  .form{
    width: 100%;
    position: absolute;
    bottom: 3.2rem;
  }
  .replyText{
    width: 100%;
    position: absolute;
    bottom: 1.2rem;
    font-weight: 500;
    font-size: 1.5rem;
    color :#5c63ff;
  }
  .primary-btn{
    color: #fefefe;
    position: relative;
    width: max-content;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;

    img{
        width: 12rem;
    }

    .submit{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-64%);
font-size: 1rem;
    }
}

  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

   .hint-lock{
     background-color: black;
   }


  input{
    display:block;
    background: transparent;
    border: none;
    color :#5c63ff;
    line-height: 20px;
    padding: 5px 2px;
    font-size: 1.5rem;
    border-bottom: 1px solid #5c63ff;
    width: 80%;
    margin: 2.5rem auto;
    text-align: center;
  }
}


.underline{

}