@keyframes fadeInOut {
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }

    50%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        transform: translateY(-2rem);
        opacity: 0;
    }
}

.question{
    min-height: 100vh;
    color: #fff;
    text-align: center;
    padding: 1.5rem 2rem;
    position: relative;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
    padding-bottom: 9rem;


    @media (max-width:500px) {
        padding-bottom: 20rem;
      }



    .top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;


    @media (max-width:800px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top:4rem;
    }
    }

    .points{
        text-align: left;
        margin-right: 2.5rem;
        font-size: 1.5rem;
        margin-top: -1rem;
        @media (max-width:800px) {
            margin-top: 1rem;
        margin-right: 0;

        }



        span{
            color:  #5157E7;
        }
    }

    .empty-bar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bar-details{
        height: 48px;
        display: flex;
        padding: .75rem 4rem;
        justify-content: space-between;

        .multi,.streak{
            margin: 0 1rem;
        }

        &--single{
            justify-content: center;
        }

                @media (max-width:800px) {
                    height: 22px;

        }




        @media (max-width:500px) {
            padding: .75rem 3rem;
         }

         @media (max-width:390px) {
            flex-direction: column;
}

    }
    
//     .bottom-bar{
//         font-family: $font-family2, sans-serif, serif;
//         width: 50rem;
//         height: 95px;
//          max-width: 90%;
//         clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
//         position: absolute;
//         bottom: 0;
//                 transform: translateX(-50%);
//         left: 50%;
//       display: flex;
//       flex-direction: column;
//       background-color: transparent;

//  .top{
//      display: flex;
//      justify-content: space-between;
//      padding: .5rem 10rem;
//      border-bottom: 1px solid #fff8;
//      background-color: #000000;
//      background-image: linear-gradient(135deg, #000000 0%, #414141 180%);
//          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
//  }

//  .top-hidden{
//     background: transparent;
//     opacity: 0;
//  }

//  .bottom{
//     background-color: #000000;
//     background-image: linear-gradient(135deg, #000000 0%, #414141 180%);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
//     flex: 1;


//     .empty{
//         font-size: 1.2rem;
//         margin-left: 3rem;
//         margin-top: 1rem;
//     }
//  }


//     }

    .bottom-bar{
        font-family: $font-family2, sans-serif, serif;
        display: flex;
flex-direction: column;



        .empty{
            font-size: 1.2rem !important;        
        }


        width: 50rem;
        max-width: 100%;
        height: 110px;

        @media (max-width:500px) {
        height: 150px;
        font-size: 1.2rem;
          
     }

     &--not-active{
        height: 70px;
     }



        position: absolute;
        bottom: 0rem;
        transform: translateX(-50%);
        left: 50%;

        background: linear-gradient(112.11deg, rgba(255, 255, 255, 0.09) 12.41%, rgba(255, 255, 255, 0.05) 84.54%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(26px);
        
        @-moz-document url-prefix() {
            background-color: #000000;
            background: linear-gradient(135deg, #000000 0%, #414141 180%);
          }  

            .bottom{

                display: flex;
                align-items: center;
                padding: .5rem 0;
                flex-direction: row !important;
     
            }

  padding: 0  5rem;

  &--not-active{
    padding: .5rem  5rem;
 }






aside{
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.31);
    padding-right: 3rem;
    min-width: 50%;

    @media (max-width:500px) {
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-gap: 1rem;
}

}


.square{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    margin: 0 .5rem;
    cursor: pointer;
    position: relative;




    img{
        width: 28px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(18%,17%);
    }

    .img-2{
        transform: translate(18%,12%) scale(.9);   
    }


    .img-3{
        transform: translate(18%,-4%) scale(.7);   
    }

    .img-4{
        transform: translate(18%,-10%) scale(.6);   
    }

  

    &--selected{
        border: 1px solid #4E55FF;
    }

}



.right{
    display: flex;
    margin-left: 1rem;
    width: 40%;
    text-align: left;



    @media (max-width:500px) {
       flex-direction: column;
       font-size: 1.25rem;
     }

     .name{
        @media (max-width:500px) {
            font-size: 1.2rem;
          }
     
     }

     .owned{
        @media (max-width:500px) {
            font-size: 1.1rem;
          }
     }




    .primary-btn{
        margin-left: 1rem;

       img{
           width: 6rem;
           height: 1.5rem;
           font-size: 1rem;
       }

       @media (max-width:500px) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }

    .empty{
        font-size: 1.2rem;
        margin-left: 3rem;
    }

    .details{
        font-size: .8rem;
        text-align: left;  
    }
}

// background-color: #000000;

// background-image: linear-gradient(215deg, #000000 0%, #414141 180%);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);

    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);

    }

    main{
        margin-top: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;


        @media (max-width:800px) {
            flex-direction: column; 
            margin-top: 2rem;

        }
    }

    .data{
        width: 24.4rem;
        height: 24.4rem;

        background: linear-gradient(112.11deg, rgba(255, 255, 255, 0.09) 12.41%, rgba(255, 255, 255, 0.05) 84.54%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(26px);
        
        @-moz-document url-prefix() {
            background-color: #000000;
            background: linear-gradient(135deg, #000000 0%, #414141 180%);
          }  





    padding: 2rem;

    display: flex;
align-items: center;
flex-direction: column;

.attempts{
    overflow: auto;

    .zero{
        font-size: 1.2rem;
        margin-top: 5rem;
    }
}

section{
    // background-color: red;
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;



    .attempt{
        margin: .5rem 0;
        font-size: 1.25rem;
        font-family: $font-family2, sans-serif, serif;
    }
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem;


    .bottom{
        display: flex;
        justify-content: space-between;
        width: 16rem;

        span{
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i{
            font-size: .8rem;
            margin-left: .25rem;
            color: #fff;
        }

    }


    .graph{
        position: relative;
        width: 100%;
    }

    .bar{
        height: 1.8rem;
        width: 100%;
        display: flex;
        align-items: center;
  
        border-bottom: 1px solid #fefefe;


        .user{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        i{
            transform: translateX(-.43rem);
        }
    }

    .indicator{
        z-index: 3;
        width: max-content;
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;

        i{
            transform: translateX(-.63rem);
        }
        
    }

}


    .top{
display: flex;
align-items: center;
font-family: $font-family2, sans-serif, serif;



.active{
    color: #5C63FF;;
    &::after {
        transform: scale(1);
    }
}

h2{
    transition: .1s all;
    cursor: pointer;
    position: relative;


    &::after {
        content: "";
        position: absolute;
        background: white;
        height: 2px;
        width: 40%;
        bottom: -5px;
        left: 0;
        transform-origin: left;
        transition: 0.3s all;
        transform: scale(0);
      }
    
      &:hover {
        color: #5C63FF;
    
        &::after {
          transform: scale(1);
        }
      }


    &:first-child{
        border-right: 1px solid #fefefe88;
        padding-right: 1.5rem;
    }

    &:last-child{
        margin-left: 1.5rem;
    }
    
}


    }

    @media (max-width:1400px) {
        width: 22rem;
        height: 22rem; 
    }

    @media (max-width:1250px) {
        width: 20rem;
        height: 20rem; 
    }


    @media (max-width:990px) {
        width: 18rem;
        height: 18rem; 
    }


    @media (max-width:800px) {
        width: 50%;
    height: 22rem; 
        min-width: 28rem;
    }

    }

    .answer{
        width: 29rem;
        height: 29rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: $font-family2, sans-serif, serif;



        .bottom{
            display: flex;
            flex-direction: column;
            align-items: center;

            input{
                background: transparent;
                border: none;
                color :#5c63ff;
                line-height: 20px;
                padding: 5px 2px;
                font-size: 1.5rem;
                border-bottom: 1px solid #5c63ff;
                width: 80%;
                margin: 2.5rem 0;
                text-align: center;
            }
        }

        p{
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.83);
            margin-top: 1.5rem;
        }

        h2{
            color: #5C63FF;
            font-size: 2rem;
            text-align: center;
        }

        @media (max-width:1400px) {
            width: 28rem;
            height: 28rem; 
        }

        @media (max-width:1250px) {
            width: 28rem;
            height: 28rem; 
        }


        @media (max-width:990px) {
            width: 27rem;
            height: 27rem; 
        }

        @media (max-width:800px) {
            width: 90%;
            margin: 2rem 0;
    height: 22rem; 
        }


    @media (max-width:800px) {
        
        width: 28rem;
        margin: 2rem 0;
    }


        flex-direction: column;
        background: linear-gradient(112.11deg, rgba(255, 255, 255, 0.09) 12.41%, rgba(255, 255, 255, 0.05) 84.54%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(26px);
        
        @-moz-document url-prefix() {
            background-color: #000000;
            background: linear-gradient(135deg, #000000 0%, #414141 180%);
          }  

    }

   
    .region{
        display: flex;
        align-items: baseline;
        width: max-content;
        margin: 0 2.5rem;
        font-size: 1.5rem;
        border-bottom: 1px solid #fff;
        padding-bottom: .25rem;



    @media (max-width:800px) {
        margin: 0 ;
        
    }


     
        p{
            margin: 0 5rem 0 2rem;
            cursor: default;
        }

    }

    .background{
        position: absolute;
 top: 0;
 left: 0;
 right: 0;
bottom: 0;
  z-index: -1;

    }
    h1{
        font-size: 4rem;
        margin-bottom: .5rem;


        @media (max-width:800px) {
            font-size: 3.5rem;
        }
    
    }

    .hints{


        background: linear-gradient(112.11deg, rgba(255, 255, 255, 0.09) 12.41%, rgba(255, 255, 255, 0.05) 84.54%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(26px);
        
        @-moz-document url-prefix() {
            background-color: #000000;
            background: linear-gradient(135deg, #000000 0%, #414141 180%);
          }  




        width: 24.4rem;
height: 24.4rem;
padding: 2rem;
display: flex;
flex-direction: column;

@media (max-width:1400px) {
    width: 22rem;
    height: 22rem; 
}

@media (max-width:1250px) {
    width: 20rem;
    height: 20rem; 
}


@media (max-width:990px) {
    width: 18rem;
    height: 18rem; 
}


@media (max-width:800px) {
    width: 50%;
    height: 22rem; 
    min-width: 28rem;
}


.hint-locked{
    background-color: #212121;
    height: 3.25rem;
color: #ddd;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);

}

.hint-unlocked{
    font-family: $font-family2, sans-serif, serif;
    margin: .5rem 0;
    text-align: left;
}


h2{
    color: #5C63FF;
    font-size: 2rem;
    text-align: center;


}

section{
flex: 1;
padding: .5rem;
display: flex;
flex-direction: column;
justify-content: space-around;
overflow: auto;
margin-top: .5rem;

}
    }



.close{
    font-size: 1.5rem;
    animation: fadeIn 2.5s;
    color: #5C63FF;
}

&--nest{
    position: relative;
    padding-bottom: 0;
    padding-top: 2rem;

    @media (max-width:670px){
        padding-top: 10rem;
    }

    main{
        margin-top: 4rem;
    }

    .secondary-heading{
        color: #5C63FF;
        font-size: 2rem;
        letter-spacing: 2px;
        margin-bottom: -3rem;
        margin-top: -.5rem;


        @media (max-width:360px){
        font-size: 1.7rem;
        }
    }

    .iecse-logo{
        position: absolute;
        top: 3rem;
        left: 3rem;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(1.25rem);
    }
    50%{
        opacity: 1;
        transform: translateY(0);
    }

    100%{
        opacity: 0;
        transform: translateY(-1.25rem);
    }
}

&--ready{
   
    main{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .answer{
        
        width: 32rem;
        max-width: 90%;
    }

    .bottomr{
        display: flex;
        justify-content: space-around;

        button{
            transform: scale(.85);
        }
    }
}

&--phone{
    height: auto;

    .bottom-bar
{
   &--two{
    height: 105px;
   }
}
    .answer{
    
        width: 32rem;
        height: 32rem;


        @media (max-device-width: 800px){
            margin-bottom: 4rem;
        }

        @media (max-device-width: 355px){
            width: 29rem;
            height: 29rem;
        }
    }



    .hints,.data{
        width: 32rem;
        height: 29rem;
        position: relative;


        @media (max-device-width: 355px){
            width: 29rem;
        height: 26.5rem;
        }


        .flip{
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}


}


