@keyframes bottomUp{
    0%{
        transform: translateY(-20rem) translate(-50%, -50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0) translate(-50%, -50%);
        opacity: 1;
    }
}

.shop-modal{
    height: 86vh;
    overflow: auto;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    // border-radius: 8px;
    outline: none;
    padding: 3rem 5rem;
    // animation: bottomUp 1s;

    background-color: #000000;
background-image: linear-gradient(135deg, #000000 0%, #414141 180%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    box-shadow: 2px 4px 65px -50px rgba(0,0,0,1);


    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width:460px) {
        padding: 3rem;
    }



    .close{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    

    main{
        display: flex;
        flex: 1;


    @media (max-width:970px) {
        flex-direction: column;
    }
    }

    section{
        flex: 1;
    }

    h1{
        margin-left: 1.5rem;
    }

    .points{
        margin-left: 1.5rem;
        font-size: 1.25rem;
        span{
            color: #5157E7;
            margin-right: .5rem;
        }
    }

    .left{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-content: center;

        @media (max-width:970px) {
            justify-content: center;
            justify-items: center;
            margin: 0 13rem;
        }
    }


    .right{
        border-left: 1px solid #FFFFFF;
        margin: 2rem 0;
        padding-left: 5rem;
        padding-top: 2rem;

        @media (max-width:660px) {
            padding-left: 2rem;
        }


        background-color: #000000;
        background-image: linear-gradient(215deg, #000000 0%, #414141 180%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
            box-shadow: 2px 4px 65px -50px rgba(0,0,0,1);
        
            // background: blue;

            @media (max-width:1400px) {
                margin: 6rem 0;   
            }

            @media (max-width:1200px) {
                margin: 10rem 0;   
            }


        @media (max-width:970px) {
            margin: 1rem 0; 
        border-top: 1px solid #FFFFFF;
        border-left: none;
        }


    


        p{
            width: 80%;
            font-size: 1.2rem;

            @media (max-width:1050px) {
            font-size: 1.05rem;
                
            }
        }

        .name{
            font-size: 1.5rem;
margin-bottom: 1rem;
        }

        p{
            margin-bottom: 1rem;
        }

        .bottom{
            margin-top: 3rem;

        }

        .primary-btn{
          margin-top: auto;
          margin-bottom: 3rem;
          margin-left: 8rem;


    @media (max-width:660px) {
        margin-left: 0;
        margin-top: 3rem;
    }
        }

        display: flex;
        flex-direction: column;



        aside{
            span{
                color: #5157E7;

            }
            margin: 1.5rem 0;
            font-size: 1.2rem;

        }
    }



    .item{
        margin: 1.5rem ;
        justify-items: center;
        position: relative;
        width: max-content;
        text-align: center;

        @media (max-width:970px){
            transform: scale(.7);
            margin: -1rem;
        }

        @media (max-width:440px) {
            transform: scale(.6);
            margin: -1.5rem;
        }

        @media (max-width:360px) {
            transform: scale(.5);
            margin: -2rem;
        }

        h3{
            cursor: pointer;
            @media (max-width:970px){
               font-size: 20px;
            }
        }

        p{
            @media (max-width:970px){
                font-size: 17px;
             }
        }

        

        img{
            cursor: pointer;
        }

        &--selected{
            .square,h3,p{
                transform: translateX(-.4rem);
            }
        }

        .power{
            // z-index: 3;
            position: absolute;
     
            top: 0;left: 0;transform: translate(23%,25%);

            &--1{
                transform: translate(40%,30%);
            }

            &--2{
                transform: translate(65%,30%);
            }

            &--3{
                transform: translate(65%,18%);
            }

        }

 

        p{
            pointer-events: none;
            margin-top: .25rem;
            span{
                color: #5157E7;
            }
        }

    }
}