.shop-modal{
    height: 85%;
    width: 95%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    // border-radius: 8px;
    outline: none;
    animation: open .4s ease;
    padding: 3rem 5rem;

    background-color: #000000;
background-image: linear-gradient(135deg, #000000 0%, #414141 180%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    box-shadow: 2px 4px 65px -50px rgba(0,0,0,1);


    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;

    .close{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    

    main{
        display: flex;
        flex: 1;
    }

    section{
        flex: 1;
    }

    h1{
        margin-left: 1.5rem;
    }

    .left{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-content: center;
    }


    .right{
        border-left: 1px solid #FFFFFF;
        margin: 2rem 0;
        padding-left: 5rem;
        padding-top: 2rem;

        background-color: #000000;
        background-image: linear-gradient(215deg, #000000 0%, #414141 180%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
            box-shadow: 2px 4px 65px -50px rgba(0,0,0,1);
        

        p{
            width: 80%;
        }

        .name{
            font-size: 1.5rem;
margin-bottom: 1rem;
        }

        p{
            margin-bottom: 1rem;
        }

        .bottom{
            margin-top: 3rem;

        }

        .primary-btn{
          margin-top: auto;
          margin-bottom: 3rem;
          margin-left: 8rem;
        }

        display: flex;
        flex-direction: column;



        aside{
            span{
                color: #5157E7;

            }
            margin: 1.5rem 0;
            font-size: 1.2rem;

        }
    }



    .item{
        margin: 1.5rem ;
        justify-items: center;
        position: relative;

        

        img{
            cursor: pointer;
        }

        .power{
            // z-index: 3;
            position: absolute;
            top: 0;left: 0;transform: translate(23%,25%);

            &--1{
                transform: translate(40%,30%);
            }

            &--2{
                transform: translate(65%,30%);
            }

            &--3{
                transform: translate(65%,18%);
            }
        }

 

        p{
   
            margin-top: .25rem;
            span{
                color: #5157E7;
            }
        }

    }
}